In [121]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import jedi
train_df = pd.read_csv("train.csv")

##  EMABRK
train_df['Embarked'] = train_df['Embarked'].fillna('S')

new_emb = {'S':1, 'C':2, 'Q':3}
train_df['Embarked'] = train_df['Embarked'].map(new_emb)


#AGE
import numpy as np
a = train_df['Age'].mean()
train_df['Age'] = train_df['Age'].fillna(a)
train_df['Age'].dropna().astype(int)


## Ticket
train_df['Ticket'] = train_df['Ticket'].str.extract('([A-Za-z])',expand = False)
train_df['Ticket'] = train_df['Ticket'].fillna('P')

new_fall = {"A":1,"P":5,"S":6,"C":2,"W":7,"F":3,"L":4}
train_df['Ticket'] = train_df['Ticket'].map(new_fall)

#SEX
new_sex = {'male':1, 'female':2}
train_df['Sex'] = train_df['Sex'].map(new_sex)

#CABIN
train_df = train_df.drop(['Cabin'], axis=1)

#TITLE
train_df['Title'] = train_df['Name'].str.extract('([A-Za-z]+\.)', expand= True)
train_df['Title'] = train_df['Title'].replace(['Don.', 'Rev.', 'Dr.','Major.', 
                                               'Lady.', 'Sir.', 'Col.', 
                                               'Capt.','Countess.','Jonkheer.'] , 'Rare')
train_df['Title'] = train_df['Title'].replace(['Mme.', 'Ms.', 'Mlle.','Miss'],'Miss.')

new_title = {'Mr.':1, 'Mrs.':2, 'Miss.':3, 'Master.':4, 'Rare':5} 
train_df['Title'] = train_df['Title'].map(new_title)

train_df = train_df.drop(['Name','PassengerId'], axis=1)       

#Histogram
def draw_hist(x,y):
    # x has to be continuous data only
    # y can be continuous/ catagorical 
    #bins_new = ((x.max())/10).astype(int) 
    x.hist(by = y, bins = 20, rwidth=0.8, figsize=[10,10], grid=0, alpha=0.5)
    plt.show()

In [129]:
train_df[['Pclass','Age']].groupby(['Pclass'], as_index= False).mean()

   Pclass        Age
0       1  37.048118
1       2  29.866958
2       3  26.403259

In [140]:
pd.crosstab(train_df['Sex'],train_df['Ticket'])

Ticket   1   2  3  4    5   6  7
Sex
1       27  31  3  4  455  51  6
2        2  16  4  0  271  14  7

In [122]:
train_df.head()

   Survived  Pclass  Sex   Age  SibSp  Parch  Ticket     Fare  Embarked  Title
0         0       3    1  22.0      1      0       1   7.2500         1      1
1         1       1    2  38.0      1      0       5  71.2833         2      2
2         1       3    2  26.0      0      0       6   7.9250         1      3
3         1       1    2  35.0      1      0       5  53.1000         1      2
4         0       3    1  35.0      0      0       5   8.0500         1      1